body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-image:url("./images/background_aguabidonix.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
}
  
header { 
  color: cadetblue;
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  justify-content: space-between; 
  display: flex;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  background-color: #1b78a8;
  border-radius: 100px;
  max-width: 250px;
}
.logo h1{
  color: #f4f4f4;
  font-size: auto;
}
.logo img{
  width: 25%;
  height: auto;
}
nav {
  display:flex;
  gap: 10px;  /*Espacio entre los elementos de navegación */
}
.Espacio_nav{
  padding: 10px 20px ;
}
nav a {
  text-decoration: none;
  font-size: 20px;
  color: #38b6ff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
/*
*/  
nav a.NavActive{
  padding: 0px;
  font-size: 200%;
  font-weight: bolder;
}
nav a:hover {
  background-color: #ffffff;
}
h1{
    color: #7fb4ce;
}
.FondoCompleto{
  display: flex;
  align-items: center;
  max-width: 80%;
}
.ladoA_texto{
  padding: 0px 70px;
}
.ladoA_texto h1{
  padding: 10px 60px;
  font-size: 60px;
}
.ladoA_texto h2{
  padding: 10px 20px 0px 0px;
}
.ladoB_bidones{
  padding: 10%;
}
.ladoB_bidones img{
  max-width: 90%;
  min-width: 180px;
  
}
.Botones_verdes{
  display: flex;
  padding: 20px 50% 30px 20px;
}
.Botones_verdes img{
  width: 60px;
  margin: 10px 0px;
}
.separacion{
  margin: 10px;
}
.CuadradoDespacho{
  padding: 10px;
  
  justify-items: center;
  background-color: #7ed957;
  border-radius: 30px;
  text-align: center;
  color: #3f3f3f;
}
.cabecera{
  display: flex;
}
.CuadradoDespacho h3{
  padding: 0px 10px;
  color: black;
  
}
.CuadradoDespacho h4{
  margin: auto;
}

/*Catalogo*/
.todo{
  display: flex;
}
.titulo{
  margin-left: 40px;
}
.results-container{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.contenedores{
  margin: 20px 10px;
  font-size: bold;
  background-color: aliceblue;
  padding: 5px;
  border-radius: 20px;
}
.contenedores img{
  height: 300px;
  width: 200px;
}
.contenedores h4{
  font-size: 5% bold;

  text-align: center;
  margin: 0px;
}
.filtros{
  width: 250px;
  height: auto;
  margin: 10px;
}
.buscador_de_contenedores button{
  background-color: #1b78a8;
  border-radius: 20px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
.buscador_de_contenedores input{
  border: 2px solid #1b78a8;

}
.options-list {
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}
.options-list li {
  margin-right: 10px;
  margin-top: 5px;
}
.options-list button {
  width: 180px;
  background-color: #1b78a8;
  border-radius: 20px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

/*Pagina ingreso*/
.ingreso{
  display: block;
  background-color:#7fb4ce;
  width: 80%; 
  max-width: 600px; 
  margin: 20px auto 50px auto;
  padding: 0;
  border: 2px solid black; 
  border-radius: 20px;
  height: auto;
}
.ingreso h1{
  display: block;
  width: 300px;
  text-align: center;
  padding-left: 150px;
  font: bold 40px verdana ;
  color: #1b78a8;
}
.ingreso h2{
  display: block;
  width: 300px;
  text-align: center;
  padding-left: 150px;
  font: 400 20px verdana ;
}
.ingreso h3{
  display: block;
  width: 200px;
  font: bold 15px verdana ;
  padding: 15px;
  padding-left: 100px;
}

.ingreso input{
  display: block;
  background-color: #ffffff;
  padding:0px 60px;
  border-radius: 20px;
  border: none;
  margin: 0px 100px;
  width: 45%;
  height: 40px;
  font-size: medium;
}


.ingreso select{
  display: block;
  background-color: #ffffff;
  padding:0px 60px;
  border-radius: 20px;
  border: none;
  margin: 0px 100px;
  width: 65%;
  height: 40px;
  font-size: medium;
}
.ingreso button{
  background-color: #1b78a8;
  color: white;
  font-size: large;
  margin: 15px 190px;
  top: 10px;
  border-radius: 20px;
  border-color: #1b78a8;
  width: 35%;
  height: 40px;
}
.ingreso a{
  text-decoration: none;
  
}
/*Seguimiento*/
.seguimiento{
  background-color: #7fb4ce;
  width: 80%; 
  margin: 20px auto 50px auto;
  border-radius: 30px;
  border: 2px solid black;
}
.seguimiento h1{
  display: block;
  width: 300px;
  text-align: center;
  padding-left: 150px;
  font: bold 40px verdana ;
  color: #1b78a8;
}
.seguimiento h2{
  display: block;
  width: 300px;
  text-align: center;
  margin-left: 150px;
  font: 400 20px verdana ;
}
.seguimiento input{
  display: block;
  background-color: #ffffff;
  padding:0px 60px;
  border-radius: 15px;
  border: none;
  margin: 10px 100px;
  width: 45%;
  height: 40px;
  font-size: medium;
}
.seguimiento button{
  background-color: #1b78a8;
  color: white;
  font-size: large;
  margin: 15px 190px;
  top: 10px;
  border-radius: 20px;
  border-color: #1b78a8;
  width: 35%;
  height: 40px;
}
.Description{
  display: block;
  background-color: #ffffff;
  padding:0px 60px;
  border-radius: 15px;
  border: none;
  margin: 10px 100px;
  width: 45%;
  max-width: 80%;
  height: 40px;
  resize: vertical;
  font-size: medium;
}
.seguimiento h3{
  display: block;
  font: bold 15px verdana ;
  padding: 0px 15px;
  padding-left: 100px;
}
/* Aplicar estilos para otros tamaños */
@media (max-width: 910px) {
  header{
    align-items: center;
  }
  .logo{
    min-width: 100px;
    min-height: 80px;
  }
  .logo h1 {
    display: none;
  }
  .logo img{
    min-width: 60px;
  }
  nav {
    gap: 5px;
  }

}